<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p style="font-size:18px;">size 18</p>
    <p style="font-size:16px;">size 16</p>
    <p style="font-size:14px;">size 14</p>
    <p style="font-size:12px;">size 12</p>
  </div>
</ion-content>
